@font-face {
    font-family: pentastic;
    src: url("../assets/fonts/Pentastic.otf") format("opentype");
}

@font-face {
    font-family: typography;
    src: url("../assets/fonts/Typography.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: pentastic, sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizespeed;
}

a {
    color: inherit;
    text-decoration: none;
}
