.bg-footer {
    background: transparent url("/footer_top_bg.png") top center/cover no-repeat
        scroll;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer {
    background: transparent url("/footer_bg.jpg") center center/cover no-repeat
        scroll;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
